
<section class="product-details">

<h1>{{title}}</h1>

{{#if price}}
<h2>Only for {{price}} euro!</h2>
{{else}}
<h2>Price upon request</h2>
{{/if}}

{{#if isVeggie}}
<h3>Enjor our vegetarian selection</h3>
{{/if}}

<ul>
    {{#each ingredients}}
    <li>{{this}}</li>
    {{/each}}
</ul>


<h2>Taste better with {{recommendedDrink}} </h2>
<h3>Cooked with love by {{chef}}</h3>
<img src="/images/{{imageFile}}" alt="{{imageFile}}">

</section>

{{> ctaOrderNow}}

